a
{
text-decoration:none;
}
body
{
left:0px;
top:0px;
width:960px;
font-size:12px;
/*border: 1px solid #4297d7;*/
background: #5c9ccc
background-color:#ffffff;
font-family:arial,helvetica,sans-serif;
margin:0 0 0 0;
}
#logo
{
position:absolute;
left:0px;
top:20px;
width:19%;
height:90px;
margin:2px 2px 2px 2px;
padding:3px 3px 3px 3px;
border: 1px solid #4297d7;
/*border:2px solid black;*/
}
#banner
{
position:absolute;
right:0px;
top:20px;
width:79%;
height:90px;
margin:2px 2px 2px 2px;
padding:3px 3px 3px 3px;
border: 1px solid #4297d7;
/*border:2px solid black;*/
}
/*#top_buttons
{
position:absolute;
right:10px;
top:0px;
min-width:10%;
height:20px;
margin:0 0 0 0;
padding:3px 3px 3px 3px;
border:2px solid black;
}*/
#ticker
{
position:absolute;
left:0px;
top:120px;
width:99%;
height:20px;
margin:2px 2px 0px 2px;
padding:1px 2px 0px 2px;
border:1px solid #4297d7;
}
#tabs
{
position:absolute;
left:0px;
/*top:170px;*/
width:100%;
/*height:50px;*/
margin:2px 2px 2px 2px;
padding:3px 3px 3px 3px;
/*border:2px solid black;*/
}
#news
{
position:absolute;
left:0px;
top:145px;
width:98%;
float:center;
height:20px;
margin:0 0 0 7px;
padding:1px 1px 2px 2px;
border:1px solid #4297d7;
}
#main
{
position:absolute;
left:0px;
/*top:170px;*/
width:75%;
height:100%;
margin:0 0 0 0;
/*padding:3px 3px 3px 3px;*/
/*border:2px solid black;*/
}
#right_menu
{
position:absolute;
right:0px;
/*top:170px;*/
width:23%;
height:100%;
margin:2px 2px 2px 2px;
/*padding:3px 3px 3px 3px;*/
/*border:2px solid black;*/
}
.welcome
{}
.lowerbody
{
height: 100%;
top: 170px;
position: absolute;
width: 100%;
}
.upperfooter
{
position:relative;
bottom:inherit;
width:inherit;
}
.lowerfooter
{
position:relative;
bottom:inherit;
width:inherit;
}
.commonfooter
{
position:absolute;
width:100%;
top:930px;
background: rgb(169,228,247); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(74,156,214,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(74,156,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(74,156,214,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(74,156,214,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(74,156,214,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(74,156,214,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#4a9cd6',GradientType=0 ); /* IE6-9 */
}
.commonheader
{
position:absolute;
top:0px;
height:120px;
width:100%;
margin:0 0 0 0;
padding:0 0 0 0;
}
.headerdock
{
position:absolute;
right:10px;
top:0px;
min-width:10%;
height:20px;
margin:0 0 0 0;
padding:3px 3px 3px 3px;
/*border:2px solid black;*/
}
.headerimages
{}